
.modal-text {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-family: "Quicksand Light", serif;
}

.modal-text-info {
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
    font-family: "Quicksand Light", serif;
    font-size: .8rem;
    color: silver;
}

.modal-text-big {

    padding: 1rem;
    font-size: 1rem;
    font-weight: bolder;
    text-align: center;
    font-family: "Quicksand Light", serif;

            box-sizing: border-box;
}

#modal-upload-btn {
    margin: 0 auto;
    display: block;
    width: 30%;
    margin-bottom: 2rem;

}

.modal-content {
    padding:2rem;
}

.modal-label {

    font-family: "Quicksand Light", serif;
    font-size: 1rem;

    display: block;
    text-align: center;
}

.modal-input {
    margin-left: 1rem;
}

.modal-upload-form {

}

.file-encrypt-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    /*border: solid 1px hotpink;*/
    box-sizing: border-box;
    width: 100%;
}

.file-encrypt-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
}

#btn-send-email {
    margin-left:1rem;

}